.apropos-picture
{
    background: url('/public/imgs/aPropos.png'), #57262655;
     background-blend-mode: darken; 
     background-repeat: no-repeat; 
     background-size: cover; 
    height: 223px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px; 
 max-width: 1600px;
    /* filter: brightness(60%); */


}
.container-about-accordion{
justify-content: space-between;
justify-content: space-around;
 min-width: 100px;
 max-width: 1600px;
justify-items: center;
align-items: center;
margin-left: 5rem;
margin-right: 5rem;
justify-content: center;
margin-top: 12rem;
    display: flex;
    flex-direction: column;

    height: 723px;

}




