.App {
  font-family: sans-serif;
  width: 100%;
}

.flex {
  display: flex;
  width: 100%;
}

.Header {
display: grid;
width:1240px;
  Height:68px;

left: 100px;
top: 40px;

Height:68px;
grid-template-columns: 2fr 0.5fr  ;
grid-template-rows:34px 34px ;
}

.logo {
  height: 3.125rem;
}
._nav{
background-color: aqua;
display:grid;



}

  ._navlinkAPropos{
display: grid;
grid-area: 1/3;
font-family:'Monserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
color: #ff6060;
margin-top: 0.3rem;



}
._navlinkAccueil {
 
display:flex;
  font-family: "Montserrat", sans-serif;
  Font-style: Medium;
  Font-size: 24px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  text-decoration-line: underline;
  Width: 136px;
  Height: 34px;
  Top:17px;
  Left:931px;

  
   color:#FF6060;

}

._navlinkAccueil:hover{

  transform: scale(1.5);
transform:  scaleX(2);
 transform: scaleY(2);
 -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 

}

a{
text-decoration-line: none;


}


/*home*/

.Backround{

display: grid;
border-radius:25px;
background-blend-mode: darken;
Opacity:30%;
Width:1240px;
Height:223px;
Top:171px;;
color: #000000;
background-image: -moz-radial-gradient(#000000);

}
._body{display: flex;

width:1240px;
  Height:1095px;
  Top: 171px;  
  Left:100px;

}
section{
display: grid;
margin-top: 50px;
width:1240px;

}

.box{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
display: grid;
border-radius: 15px;
Width:1240px;
Height:223px;
grid-template-rows: 
50px ;
grid-template-columns: 1fr 0.5fr  ;
}
.IMG{
border-radius: 15px;
display: grid;
grid-area: 2/1;
margin-top: -3.1rem;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}
.legend{
display: grid;
  Width:705px;
Height:68px;
z-index: 1;
Font-family:" Montserrat", sans-serif; 
Font-style: Medium;
Font-size: 48px;
Line-height: 68px;
Line-height: 143%;
text-align: Left;
Fill: Solid;
grid-area: 2/1;
margin-left: 20rem;
color: #FFFFFF;

}