.accordion {

    padding: 0rem  2rem  2rem  2rem;
        border-radius: 3px;
    display: grid;
   /* margin-right: -1rem;  */
  /* width: 100vi;  */

    }
    
    
    
    .accordion-visible {
        background-color: #ff6060;
 
     color: white;
     cursor: pointer;
     display: grid;
   
     align-items: center;
     height: 50px;
     padding: 7px 15px ;
     border-radius: 5px;
     width: 100%;

    
    }
    
    
    
    
     .accordion-visible h2 {
  justify-items: center;
    text-align: left;
         font-size: 20px; 
    align-items: center;
    display: flex;
   align-self: center;
      
     } 
    
    .accordion-visible img {
      
    
    margin-top: -4rem;
    
    
    justify-self: end;
    transform: rotate(180deg);
	transition: 0.4s ease-in-out;
    
    }
    .accordion-visible img.active {
   
	transform: rotate(0deg);
	transition: 0.4s 0.4s ease-in-out;
    }
    .accordion-visible span {
       display: grid;
        font-size: 20px;
        padding: 22px 15px;
      pointer-events: none;
    }
   .box-p_text:hover .accordion-visible img:hover{

        cursor: pointer ;
      margin-bottom: 5rem;
    }
    
    .accordion-toggle {
  padding: auto;
        height: 0px;
        font-size: 18px;
        opacity: 0;
        transition:  
        opacity 0.3s ease-in-out,
        height 0.3s 0.3s ease-in-out;
        color: #ff6060;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }
    
    .animated {
        opacity: 1;
        transition:  
        height 0.3s ease-in-out,
        opacity 0.3s 0.3s ease-in-out;
    }
    
    .accordion-toggle p {
        
      text-size-adjust:content;   
      
        line-height: 1.3;
        /* padding: 22px 15px ; */ 
        
        display: grid;
    }
    .box-p_text{
display:flex;
margin: 0;
padding: 22px 15px;
pointer-events: none;
     
        margin-bottom: 2%;
    
     
}

  
    .box-description {

    grid-area: 1/1;
  width: 100vi;
     margin-left: -4rem;   
    display:grid;
       /* width: max(47vw, 200px);   */
   
 
  
   
    }
   
    
    
    
    
    
    
     .box-equipement{ 
    /* margin-bottom: 4rem; */
    display:grid;
    grid-area: 1/2;
      margin-right: -4rem;  
 
     /* width: max(47vw, 200px);   */

        
    }
   
    
    
   

    .wapper_accordion {
    display: grid ;
     margin-right: -8rem; 
    /* margin-left: -3rem; */
    /* height: 52px; */
  
        grid-area: 6/1;  
    grid-template-columns: 2fr 2fr ;
    grid-template-rows: 52px 52px;
  
    width: 100vi;
    margin-top: 5rem;
    }
    .accordion .accordion-visible{
    display:grid;
    
    }
   
   

    @media (max-width:750px) {
.wapper_accordion{
display: grid;
margin-top: 8rem;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;

/* height: 100vi; */



}
.accordion{
  display: grid;

    
/* margin-top: 3rem; */


 

}
.box-equipement{
grid-area: 2/1;
display:grid;
 margin-right: -0.3rem;
 
 /* width: 100vi;  */
margin-top: -3rem;
}
.box-description{
     width: max(108vw, 100px);   

  
    


}

    }

    @media (max-width:568px) {
      .wapper_accordion{

margin-top: 10rem;

      }
 .accordion{
margin-top: 5rem;


 }
    }
